<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title>hello vélo</title> 
<meta name="keywords" content="bike fitting slowtwtitch AFS power wattage aerodynamics john cobb computrainer lemond fitness blackwell aerowheel sizing custom DH flyers darkhorse espresso bar ontario cycling association OCA bike products dan empfield cervelo jamis BMC argon18 fitting system exit crank length dimensions triathlon TT road racing race comfort ironman ITU USAT OAT association triathlete international triathlon union united states toronto ontario canada tri"/> 
<meta name="author" content="Paul Parker" /> 
<meta name="description" content="Bicycle Fitting Services and Top Cycling/Triathlon Gear"> 
 
<link rel="stylesheet" type="text/css" href="css/style.css" /> 
<!--[if lt IE 8]>  
    <link rel="stylesheet" type="text/css" href="css/style-ie.css" />  
<![endif]-->
</head> 

<body> 

<div id="page" class="container_12">
  <div id="logo" class="grid_4">
    <img src="images/flyers_logo_wide.png"/>
  </div> 

  <div class="clear"></div>

  <div id="header">
    <div class="grid_3 menu_item"><a href="index.html">Team/Club</a></div>
    <div class="grid_3 menu_item"><a href="calendar.html">Club Rides</a></div>
    <div class="grid_3 menu_item"><a href="news.html">News</a></div>
    <div class="grid_3 menu_item"><a href="gallery.html">Gallery</a></div>
  </div>

  <div class="clear"></div>

  <div id="main">
    {{ content }}
  </div>
  
  <div class="clear"></div>

  <div id="footer">
    <span class="grid_3 footer">© 2011 <a href="http://hellovelo.ca">Hello Velo Inc.</a> |  All rights reserved.</span>
    <div class="grid_3 sponsor"><a href="http://hellovelo.ca/"><img src="images/topleft_logo.gif"/></a></div>
    <div class="grid_2 sponsor"><a href="http://www.darkhorseespresso.com/"><img src="images/dark_horse_logo.gif"/></a></div>
    <div class="grid_3 sponsor"><a href="http://www.agentsam.ca/"><img src="images/agentsam_logo.gif"/></a></div>
    <div class="grid_1 sponsor"><a href="#"><img src="images/gryphon_partners_logo.gif"/></a></div>
  </div>
</div>
</body> 
</html>
