<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title>Flyers Racing</title> 
<meta name="keywords" content="bike AFS power wattage aerodynamics computrainer fitness DH flyers darkhorse espresso bar ontario cycling association OCA crank length dimensions triathlon TT road racing race comfort ironman ITU USAT OAT association triathlete international triathlon union united states toronto ontario canada tri"/> 
<meta name="author" content="David Carney" /> 
<meta name="description" content="Dark Horse Flyers Cycling Team and Club">
 
<link rel="stylesheet" type="text/css" href="css/style.css" /> 
<!--[if lt IE 8]>  
    <link rel="stylesheet" type="text/css" href="css/style-ie.css" />  
<![endif]-->
</head> 

<body> 

<div id="page" class="container_12">
  <div id="logo" class="grid_10">
    <img src="images/flyers.png"/>
  </div>
  <div id="buttons" class="grid_2">
    <a href="https://www.facebook.com/pages/Flyers-Racing/156283187796001" target="_blank;"><img src="images/facebook_button.jpg" width="30px;" style="float: right; margin-left: 5px;"/></a>
    <a href="http://twitter.com/darkhorseflyers" target="_blank;"><img src="images/twitter_button.jpg"  width="30px;" style="float: right;"/></a>
  </div>

  <div class="clear"></div>

  <div id="header">
    <div class="grid_3 menu_item"><a href="index.html">Team/Club</a></div>
    <div class="grid_3 menu_item"><a href="calendar.html">Club Rides</a></div>
    <div class="grid_3 menu_item"><a href="news.html">News</a></div>
    <div class="grid_3 menu_item"><a href="gallery.html">Gallery</a></div>
  </div>

  <div class="clear"></div>

  <div id="main">
    {{ content }}
  </div>
  
  <div class="clear"></div>

  <div id="footer">
    <span class="grid_4 footer">© 2012 <a href="http://flyersracing.com">Flyers Racing</a> | All rights reserved.</span>
    
    <div class="grid_4 sponsor">
      <a href="http://darkhorseespresso.com/" target="_blank;"><img src="images/dark_horse_espresso_bar.jpg" style="float: center;"/></a>
    </div>
    <div class="grid_4 sponsor">
      <a href="http://www.trails.ca/" target="_blank;"><img src="images/trails_tagline.jpg" style="float: right;"/></a>
    </div>
    
    
  </div>
</div>
</body> 
</html>
